/* Container */
.video-player {
  --video-color: #f5f5f5; 
  --video-bg: #181818; 
  --video-caption-bg: #242424; 
  --video-slider-bg: #eb2517; 
  --video-track-bg: #8a8a8a;
  --video-transcription-border-color: #525255; 
  --video-transcription-badge: #323235; 
  --video-transcription-cue-hover: #49494d; 
  --video-transcription-cue-active: #6b6b75; 
  --video-transcription-color: #e0e0e0; 
}

:where(.video-player__container) {
  display: grid;
  grid-template-rows: auto .375rem 2.8125rem;
  color: var(--video-color);
  margin-inline: auto;
  box-shadow: 0px 0px 1px 0px var(--video-bg);
}

@media screen and (forced-colors: active) {
  :where(.video-player__container) {
    border: 2px solid transparent;
  }
}

@media screen and (display-mode: fullscreen) {
  .video-player__container[data-vpf="true"] {
    display: grid;
    height: 100vh;
    grid-template-rows: calc(100vh - 6px - 3rem) 6px 3rem;
  }

  .video-player__container[data-vpf="true"]>* {
    width: 100%;
  }

  .video-player__container[data-vpf="true"] video {
    aspect-ratio: 19 / 6;
  }
}

.video-player__container[data-vpf="true"]:not(:fullscreen) {
  animation: fadeIn 0.5s ease-in-out;
}

.video-player__wrapper {
  position: relative;
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  background-color: var(--video-bg);
}

.video-player__wrapper>* {
  grid-area: stack;
}

/* Video player */
.video-player__video {
  height: 100%;
  width: 100%;
}

.video-player__video::cue {
  visibility: visible;
  color: var(--video-color);
  background-color: var(--video-caption-bg);
  line-height: 1.2;
  font-size: 1.5rem;
}

.video-player__video.video-player__no-captions::cue {
  visibility: hidden;
}

/* Bezel */
.video-player__bezel {
  display: none;
  position: absolute;
  top: 50%;
  color: var(--video-color);
  background-color: rgba(0, 0, 0, 0.712);
  padding: .95rem;
  border-radius: 100vw;
}

.video-player__bezel svg {
  --icon-size: 1.5rem;
}

@keyframes bezelFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .video-player__bezel {
    animation: bezelFadeOut 0.5s linear 1 normal forwards;
  }
}

/* Slider */
.video-player__slider {
  --slider-fill: 0px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-player__slider[data-resize-resizing] .video-player__slider-thumb::before {
  opacity: 1;
}

.video-player__slider:hover .video-player__slider-thumb {
  opacity: 1;
}

.video-player__slider-track {
  width: 100%;
  height: 100%;
  background-color: var(--video-track-bg);
  position: absolute;
  pointer-events: auto;
}

.video-player__slider-fill {
  height: 100%;
  background-color: var(--video-slider-bg);
  width: var(--slider-fill, 0%);
  position: absolute;
  pointer-events: none;
}

.video-player__slider-thumb {
  --size-thumb: .95rem;

  position: absolute;
  top: 50%;
  left: var(--slider-fill, 0%);
  height: var(--size-thumb);
  width: var(--size-thumb);
  background-color: var(--video-slider-bg);
  border-radius: 100vw;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 150ms ease;
  z-index: 1;
  isolation: isolate;
}

.video-player__slider-thumb::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--video-slider-bg);
  border-radius: 100vw;
  opacity: 0;
  transform: scale(1.8);
  filter: opacity(0.5);
  transition: opacity, transform, 150ms ease;
  z-index: 2;
}

@media screen and (forced-colors: active) {
  :where(.video-player__slider-fill) {
    border-block: 1px solid transparent;
  }
}

/* Controls */
:where(.video-player__toolbar) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.225rem;
  padding: 0.1rem 0.2rem;
  height: 100%;
  background-color: var(--video-bg);
}

.video-player__toolbar * {
  color: inherit;
}

:where(.video-player__button) {
  --outline-offset: -4px;


  display: grid;
  place-items: center;
  position: relative;
  height: 100%;
  width: auto;
  border: 0.125rem solid transparent;
  background-color: transparent;
  border-radius: 3.2px;
  cursor: pointer;
  border-radius: 0.5em;
  aspect-ratio: 1;
}

.video-player__button--disabled::after {
  content: '';
  display: block;
  position: absolute;
  width: .15rem;
  height: 1.65rem;
  background-color: var(--video-color);
  box-shadow: -2px 0px 0px 0px var(--video-bg);
  transform: rotate(135deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .video-player__button--disabled::after {
    animation: fadeIn 120ms ease;
  }
}

.video-player__button>svg {
  --icon-size: 1.5rem;
}

:where(.video-player__volume) {
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
}

@media screen and (max-width: 500px) {
  :where(.video-player__volume) {
    display: none;
  }
}

.video-player__volume-slider {
  --outline-offset: max(4px, 0.08em);
}

:where(.video-player__volume-slider) {
  display: block;
  width: 5rem;
  accent-color: var(--video-slider-bg);
  border-radius: 0.5em;
}

/* Time */
:where(.video-player__time) {
  margin: 0;
  width: 100%;
  font-variant-numeric: tabular-nums;
  text-align: left;
}

.video-player__time {
  text-align: left;
}

:where(.video-player__time span) {
  margin-inline: .2rem;
}

/* Transcription */
:where(.video-player__transcription) {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 17.5rem;
  border-radius: 0.5rem;
  margin-block: 0.625rem;
  color: var(--video-transcription-color);
  background-color: var(--video-bg);
  overflow: hidden;
}

.video-player__transcription-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.325rem;
  background-color: var(--video-transcription-badge);
  border-radius: 0.5rem 0.5rem 0 0;
}

.video-player__transcription header .video-player__transcription-badge {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid var(--video-transcription-border-color);
  background-color: var(--video-transcription-color);
  color: var(--video-bg);
  font-weight: 500;
}

.video-player__transcription-badge {
  background-color: var(--video-transcription-badge);
  border-radius: 100vw;
  padding-block: 0.165rem;
  padding-inline: 0.825rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--video-transcription-color);
  border: 1px solid var(--video-transcription-border-color);
}

.video-player__transcription-badge:has(svg) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.325rem;
}

.video-player__transcription-badge svg {
  --icon-size: 1rem;
  fill: none;
}

.video-player__transcription__segment-list {
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
  overflow-y: auto;
}

.video-player__transcription__segment-list::-webkit-scrollbar {
  width: 0.625rem;
  background-color: transparent;
}

.video-player__transcription__segment-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.video-player__transcription__segment-list::-webkit-scrollbar-thumb {
  background-color: var(--video-transcription-border-color);
  border: 2px solid var(--video-bg);
  border-radius: 0.4375rem;
  transition: background-color 200ms ease-in-out;
}

.video-player__transcription__segment-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--video-transcription-cue-hover);
}

.video-player__transcription__segment {
  padding-inline: 1rem;
  padding-block: 0.8rem;
  color: var(--video-color);
  transition: background-color 200ms ease-in-out;
}

.video-player__transcription__segment:not(:last-child) {
  border-bottom: 1px solid var(--video-transcription-border-color);
}

.video-player__transcription__segment:has(.video-player__transcription-segment-button:hover) {
  background-color: var(--video-transcription-cue-hover);
}

.video-player__transcription__segment[data-is-active="true"] {
  background-color: var(--video-transcription-cue-active);
  font-weight: 600;
}

.video-player__transcription-badge-container {
  display: flex;
  justify-content: space-between;
  gap: 0.325rem;
  margin-bottom: 0.325rem;
}

.video-player__transcription-segment-button {
  border: 1px solid transparent;
  background-color: transparent;
  text-align: left;
  color: inherit;
}
