:where(.c-icon) {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentColor;
    forced-color-adjust: auto;
    pointer-events: none;
}

:where(.c-icon.c-small) {
    --icon-size: 0.75rem;
}

:where(.c-icon.c-normal) {
    --icon-size: 1rem;
}

:where(.c-icon.c-big) {
    --icon-size: 1.25rem;
}