:where(.c-icon) {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    forced-color-adjust: auto;
    pointer-events: none;
}

.c-icon[fill]:not([fill="none"]) {
    fill: var(--icon-fill, currentColor);
}

.c-icon[stroke]:not([stroke="none"]) {
    stroke: var(--icon-stroke, currentColor);
}

:where(.c-icon.c-small) {
    --icon-size: 1rem;
}

:where(.c-icon.c-normal) {
    --icon-size: 1.75rem;
}

:where(.c-icon.c-big) {
    --icon-size: 2.25rem;
}