:where(.c-switch) {
    --switch-bg: var(--ui-color-gray-500);
    display: inline-flex;
    align-items: center;
}

.c-switch:where(.c-switch--small) {
    --switch-width: 1.375rem;
    --switch-height: 0.75rem;
    --switch-tumb: 0.75rem;
}

.c-switch:where(.c-switch--normal) {
    --switch-width: 1.875rem;
    --switch-height: 1rem;
    --switch-tumb: 1rem;
}

.c-switch:where(.c-switch--big) {
    --switch-width: 2.875rem;
    --switch-height: 1.5rem;
    --switch-tumb: 1.5rem;
}

:where(.c-switch__check) {
    position: relative;
    padding: 0.125rem;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: flex-start;
    box-sizing: content-box;
    width: var(--switch-width);
    height: var(--switch-height);
    cursor: pointer;
    border-radius: 100vw;
    background-color: var(--switch-bg);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.c-switch__check::after {
    content: "";
    position: absolute;
    left: 3px;
    width: var(--switch-tumb);
    height: var(--switch-tumb);
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.354s cubic-bezier(0.25, 0.1, 0.25, 1.65);
}

.c-switch__check:active:not(:disabled)::after {
    width: calc(var(--switch-tumb) + 4px);
}

:where(.c-switch__check:checked) {
    --switch-bg: var(--ui-color-gray-800)
}

.c-switch__check:checked::after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.c-switch__check:disabled {
    cursor: not-allowed;
}

:where(.c-switch__check:disabled:checked) {
    --switch-bg: var(--ui-color-gray-400)
}

:where(.c-switch__check:disabled:not(:checked)) {
    --switch-bg: var(--ui-color-gray-300)
}

:where(.c-switch__check:focus-visible) {
    --outline-color: var(--ui-color-gray-600);
}