.c-number-input {
    --input-number-border: var(--ui-color-gray-600);
    --input-number-focus: var(--ui-color-gray-800);
    --input-number-border-size: 0.375rem;
    --input-number-transition-property: background-color, border-color, color, fill, stroke, opacity;
}

:where(.c-number-input) {
    display: grid;
    grid-template-columns: 1fr 4ch;
    width: 100%;
    position: relative;
    border-radius: var(--input-number-border-size);
    border: 1px solid var(--input-number-border);
    background: inherit;
    transition: var(--input-number-transition-property), 120ms ease;
}

:where(.c-number-input__label) {
    display: block;
}

:where(.c-number-input__input) {
    height: 100%;
    font-size: initial;
    appearance: none;
    border: 1px solid transparent;
    background: inherit;
}

.c-number-input__input {
    --outline-size: 2px;
    --outline-color: var(--input-number-focus);
}

.c-number-input__label:focus-within~.c-number-input__stepper button>svg {
    transform: scale(1.9);
    fill: var(--input-number-focus);
}

.c-number-input__button {
    font: menu;
}

:where(.c-number-input__button) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: inherit;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    border: none;
    border-inline-start-width: 1px;
    border-inline-start-style: solid;
    border-inline-start-color: var(--input-number-border);
    transition: var(--input-number-transition-property), 120ms ease;
}

:where(.c-number-input__button:active) {
    background-color: var(--clr-primary-200);
}

:where(.c-number-input__button:first-of-type) {
    border-top-right-radius: var(--input-number-border-size);
}

:where(.c-number-input__button:last-of-type) {
    margin-top: -1px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--input-number-border);
    border-bottom-right-radius: var(--input-number-border-size);
}

:where(.c-number-input__button > svg) {
    transform: scale(1.4);
}

:where(.c-number-input__button[disabled]) {
    opacity: 0.4;
    cursor: not-allowed;
}